#root {
    height: 100%;
    width: 100%;
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

label {
    padding-left: 1em;
    text-align: left;
    display: block;
    line-height: 2.5em;
}

label input,
label select {
    margin-left: 1em;
}
